---
layout: default
---

{% include prohead.html %}

<div class="bio">
    강의때 필요한 링크들 <br>
    <p class="anilink">
    <a href="{{ site.url }}{{ site.baseurl }}/tag/">👉categories</a>
    <br>
    <a href="{{ site.url }}{{ site.baseurl }}/authors/">👉all authors</a>
    <br>
    <a href="{{ site.url }}{{ site.baseurl }}/notes/">👉all notes</a>
    <br>
    <a href="{{ site.url }}{{ site.baseurl }}/archive/">👉archives</a>
    <br>
    <a href="https://umami.aliif.space/share/PcrCbVCl/cnotes" target="_blank" rel="noopener noreferrer">👉analytics</a>
    </p>
</div>

<h2 style="margin-bottom: 10px;">Featured</h2>

<div class="card-list oi" id="Blog">
    {% for post in site.posts limit:6 %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="mr-20">
      <div class="card-wrapper">
        <div class="background"></div>
        <img class="image lazyload" src="{{ site.url }}{{ site.baseurl }}/img/placeholder.svg" data-src="{% if post.thumb %} {{ site.url }}{{ site.baseurl }}{{ post.thumb }} {% else %} {{ site.default-thumb }} {% endif %}"  alt="{{ post.title }}">
        <div class="kepala p-24"><h1 class="judul">{{ post.title }}</h1><p>{{ post.description }}</p></div>
        <div class="footer p-24">{% assign minute=post.content | number_of_words | divided_by: 265 | plus: 1 %}<small datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b, %y" }} - {% if post.minute %} {{ post.minute }} {% else %} {{ minute }} {% endif %} min Read</small></div>
      </div>
    </a>
    {% endfor %}
</div>

